# sqlite库是用来将数据存到数据库中的，下面是使用方法

In [8]:
import sqlite3
#1.建数据库
conn = sqlite3.connect('test.db')
print("成功打开数据库")
#2.建表
cursor = conn.cursor() #获取游标
sql='''
    create table company
        (id INTEGER PRIMARY key autoincrement,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        address char(50),
        salary real);
'''

cursor.execute(sql) #执行sql语句
conn.commit() #提交数据库操作
conn.close() #关闭数据库链接

成功打开数据库

In [10]:
import sqlite3
#1.建数据库
conn = sqlite3.connect('test.db')
print("成功打开数据库")
#3.插入数据库
cursor = conn.cursor() #获取游标
sql1='''
    insert into company(id,name,age,address,salary)
    values (1,'cz',32,'揭阳',8000)
'''

sql2='''
    insert into company(id,name,age,address,salary)
    values (2,'jz',16,'揭阳',0)
'''

cursor.execute(sql1) #执行sql语句
cursor.execute(sql2)
conn.commit() #提交数据库操作
conn.close() #关闭数据库链接

成功打开数据库

In [11]:
import sqlite3
#1.建数据库
conn = sqlite3.connect('test.db')
print("成功打开数据库")
#4.查找数据库
cursor = conn.cursor() #获取游标
sql='''
    select id,name,age,address,salary from company
'''

res=cursor.execute(sql) #执行sql语句,接收结果集
for row in res:
    print("id =",row[0])
    print("name =",row[1])
    print("age =",row[2])
    print("address =",row[3])
    print("salary =",row[4],"\n")

conn.commit() #提交数据库操作
conn.close() #关闭数据库链接

成功打开数据库
id = 1
name = cz
age = 32
address = 揭阳
salary = 8000.0

id = 2
name = jz
age = 16
address = 揭阳
salary = 0.0